.page {
  font-family: "Inter", sans-serif;
  /*position: relative;*/
  background-color: #2a2c2f;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
  text-rendering: optimizeLegibility;
  color: #fff;
}
