.lead {
  margin: 0 auto;
  max-width: 984px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-bottom: 64px;
  }
}
