.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 642px) {
  .footer {
    margin: 0 16px;
    padding-top: 64px;
    flex-direction: column;
  }
}
